body {
  font-family: Arial;
  margin:0;
  background:#f2f2f2;
}

header {
  background:#111;
  color:white;
  padding:15px;
  text-align:center;
}

nav {
  display:flex;
}

nav button {
  flex:1;
  padding:15px;
  border:none;
  background:#222;
  color:white;
}

section {
  padding:20px;
}

input, button {
  width:100%;
  padding:12px;
  margin:6px 0;
}

.pro {
  background:#ff9800;
  color:black;
}

.whatsapp {
  display:block;
  background:#25d366;
  color:white;
  padding:12px;
  text-align:center;
  text-decoration:none;
  margin-top:10px;
}

li {
  background:white;
  margin:8px 0;
  padding:10px;
}
